*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main{
    width: 100%;
    height: 500px;
    border: 10px solid grey;
    padding: 20px 35px;
}

.seccion-container{
    box-sizing: border-box;
}

.seccion-container__item{
    display: inline-block;
    width: calc(50% - 20px);
}

.seccion-container__item:first-child{
    color: blue;
}